numpy
pandas
scikit-learn
scipy
xgboost
lightgbm
imbalanced-learn
torch
torchvision
transformers
sentencepiece
safetensors
bitsandbytes
matplotlib
seaborn
plotly
graphviz
Flask
Werkzeug
PyYAML
requests
regex
python-dateutil
pytz
filelock
opendatasets

# optional frontend/web
streamlit
gradio
fastapi
flask-cors
uvicorn
